@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html.dark body {
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0)) rgb(0, 0, 0);
  min-height: 100vh;
}

body {
  transition: background 200ms linear;
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(255, 255, 255);
  min-height: 100vh;
}
